<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-6">
      <h1 class="page-title">Dashboard</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <ul class="breadcrumb pull-right mobile-pull-none">
        <li><a href="#"><span class="nb nb-home"></span> Home</a></li>
        <li><span class="active">Dashboard</span></li>
      </ul>
    </div>
  </div>
  <section class="section">
    <div class="container-fluid">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="info-box info-box-green waves-effect waves-light clearfix">
          <div class="box-icon">
            <span class="nb nb-user-graduate"></span>
          </div>
          <div class="box-content">
            <h4>Total Students</h4>
            <span class="info-box-count">450</span>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="info-box info-box-yellow waves-effect waves-light clearfix">
          <div class="box-icon">
            <span class="nb nb-hand-holding-usd"></span>
          </div>
          <div class="box-content">
            <h4>Fees collected</h4>
            <span class="info-box-count">
              <span class="nb nb-rupee-sign"></span> 10450
            </span>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="info-box info-box-blue waves-effect waves-light clearfix">
          <div class="box-icon">
            <span class="nb nb-wallet"></span>
          </div>
          <div class="box-content">
            <h4>Current month expenses</h4>
            <span class="info-box-count"><span class="nb nb-rupee-sign"></span> 450</span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
  
  <section class="section">
    <div class="container-fluid">
      <div class="col-xs-12 col-sm-8">
        <div class="widget widget-latest-emails">
          <div class="widget-header">
            <h4>Monthly Attendance</h4>
          </div>
          <app-line-chart></app-line-chart>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="widget widget-latest-emails">
          <div class="widget-header">
            <h4>Student Performance</h4>
          </div>
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
  </section>
  
  <div class="clearfix"></div>
  
  <section class="section">
    <div class="container-fluid">
      <div class="col-xs-12">    
        <div class="widget widget-latest-emails">
          <div class="widget-header">
            <h4>Latest emails</h4>
          </div>
          <div class="widget-content widget-table">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </th>
                  <th>From</th>
                  <th>Subject</th>
                  <th>Received on</th>
                  <th>
                    <a href="#" class="text-danger waves-effect waves-light"><span class="nb nb-trash-alt2 v-middle"></span></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of [1,2,3,4,5,6]">
                  <td>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </td>
                  <td>Leena Smith</td>
                  <td>Fwd: Important Notice Regarding Your Domain Name</td>
                  <td>10:27 AM</td>
                  <td>
                    <a href="#" class="text-danger waves-effect waves-light"><span class="nb nb-trash-alt2 v-middle"></span></a>
                    <a href="#" class="waves-effect waves-light"><span class="nb nb-reply"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
</div>