<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-6">
      <h1 class="page-title">Fees Collected</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <ul class="breadcrumb pull-right mobile-pull-none">
        <li><a [routerLink]="['/dashboard']">Home</a></li>
        <li><span class="active">Fees Collected</span></li>
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="widget widget-all-teacher">
        <div class="widget-header">
          <h4>Fees Collected</h4>
        </div>
        <div class="widget-content widget-table">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a href="add-fees.php" class="btn btn-info btn-add-new">
                Add New <i class="nb nb-plus"></i>
              </a>
            </div>
            
            <div class="col-xs-12 col-sm-6">
              <div class="pull-right">
                <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                    <i class="nb nb-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;" class="trigger-click-print">
                      <i class="nb nb-print"></i> Print 
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" class="trigger-click-pdf">
                      <i class="nb nb-file-pdf"></i> Save as PDF 
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" class="trigger-click-excel">
                      <i class="nb nb-file-excel2"></i> Export to Excel 
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="widget-dataTable dataTable-fees">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover datatable_top text-center v-center">
              <thead>
                <tr>
                  <th>Roll No</th>
                  <th>Student Name</th>
                  <th>Fee Type</th>
                  <th>Date</th>
                  <th>Invoice Number</th>
                  <th>Payment Type</th>
                  <th>Status</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fee of fees">
                  <td>{{ fee.roll_no }}</td>
                  <td>{{ fee.student_name }}</td>
                  <td>{{ fee.fee_type }}</td>
                  <td>{{ fee.date }}</td>
                  <td>{{ fee.invoice }}</td>
                  <td>{{ fee.payment_type }}</td>
                  <td>{{ fee.status }}</td>
                  <td>{{ fee.amount }}</td>
                  <td class="no-wrap">
                    <a href="edit-fees.php" class="btn btn-primary btn-actions waves-effect waves-light"><span class="nb nb-pencil-alt2"></span></a>
                    <a href="fee-invoice.php" class="btn btn-success btn-actions waves-effect waves-light"><span class="nb nb-file-pdf"></span></a>
                    <a href="#" class="btn btn-danger btn-actions waves-effect waves-light"><span class="nb nb-trash-alt2 v-middle"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <?php require_once('widgets/fees/index.php'); ?> -->
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>
<router-outlet></router-outlet>
  