<header>
  <nav class="navbar-custom navbar navbar-fixed-top">
    <div class="container-fluid ignoreSidebar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.php">
          Manapatasala
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#" class="toggle-sidebar-nav"><span class="nb nb-bars"></span></a></li>
          
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="nb nb-bell"></span><span class="badge headerBadgeColor1"> 6 </span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="nb nb-envelope"></span><span class="badge headerBadgeColor1"> 6 </span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle user-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="assets/dist/images/profile.jpg" alt="Username" title="Username" class="img-responsive" /> Username
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
            </ul>
          </li>
          
          <li><a href="#"><span class="nb nb-ellipsis-v"></span></a></li>
        
        </ul>
      </div>
    </div>
  </nav>
</header>
<app-sidebar></app-sidebar>