<div class="widget-content">
  <canvas height="325" baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [colors]="pieChartColors"
    [chartType]="pieChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)" >
  </canvas>
  <!-- <canvas id="nb-pie-chart" height="315"></canvas> -->
</div>