<aside class="side-navigation transition">
  <nav>
    <ul>
      <li class="active"><a [routerLink]="['/dashboard']"><span class="nb-icon nb nb-dashboard nb-materialize"></span> <span class="title">Dashboard</span></a></li>
      <li><a [routerLink]="['/events']"><span class="nb-icon nb nb-calendar-alt2"></span> <span class="title">Event Management</span></a></li>        	
      <li>
        <a href="timetable.php"><span class="nb-icon nb nb-table2 nb-materialize"></span> <span class="title">Timetable</span></a>
      </li>
      <li>
        <a href="all-class-section.php"><span class="nb-icon nb nb-chalkboard2"></span> <span class="title">Class & Section</span></a>            
      </li>
      <li>
        <a href="all-subjects.php"><span class="nb-icon nb nb-book"></span> <span class="title">Subjects</span></a>
      </li>
      <li class="sidenav-dropdown">
        <a href="#"><span class="nb-icon nb nb-attach_money nb-materialize"></span> <span class="title">Fees</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
        <ul class="dropdown">
          <li><a [routerLink]="['/fees']">Logs</a></li>
          <li><a href="add-fees.php">Add Fees</a></li>
        </ul>
      </li>
      <li class="sidenav-dropdown">
        <a href="#"><span class="nb-icon nb nb-envelope"></span> <span class="title">Email</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
        <ul class="dropdown">
          <li><a href="#">Compose Mail</a></li>
          <li><a href="#">Inbox</a></li>
        </ul>
      </li>
      <li class="sidenav-dropdown">
        <a href="#"><span class="nb-icon nb nb-users"></span> <span class="title">Users</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
        <ul class="dropdown">
          <li class="sidenav-dropdown">
            <a href="#"><span class="nb-icon nb nb-user-tie"></span> <span class="title">Faculty</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
            <ul class="dropdown">
              <li><a href="all-teacher.php">Faculty list</a></li>
              <li><a href="add-teacher.php">Add Faculty</a></li>
            </ul>
          </li>
          <li class="sidenav-dropdown">
            <a href="#"><span class="nb-icon nb nb-user-alt"></span> <span class="title">Parents</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
            <ul class="dropdown">
              <li><a href="all-parents.php">All Parents</a></li>
              <li><a href="add-parent.php">Add Parent</a></li>
            </ul>
          </li>
          <li class="sidenav-dropdown">
            <a href="#"><span class="nb-icon nb nb-user-graduate"></span> <span class="title">Students</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
            <ul class="dropdown">
              <li><a href="all-students.php">All Students</a></li>
              <li><a href="add-student.php">Add Student</a></li>
            </ul>
          </li>
          <li class="sidenav-dropdown">
            <a href="#"><span class="nb-icon nb nb-users3 nb-materialize"></span> <span class="title">Staff</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
            <ul class="dropdown">
              <li><a href="all-staff.php">All Staff</a></li>
              <li><a href="add-staff.php">Add Staff</a></li>
            </ul>
          </li>
        </ul>
      </li>
      
      <li class="sidenav-dropdown">
        <a href="#"><span class="nb-icon nb nb-university"></span> <span class="title">Library</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
        <ul class="dropdown">
          <li><a href="all-books.php">All Books</a></li>
          <li><a href="add-book.php">Add Book</a></li>
        </ul>
      </li>
      
      <li class="sidenav-dropdown">
        <a href="#"><span class="nb-icon nb nb-archive nb-materialize"></span> <span class="title">Assets</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
        <ul class="dropdown">
          <li><a href="all-assets.php">All Assets</a></li>
          <li><a href="add-asset.php">Add Asset</a></li>
        </ul>
      </li>
      
      <li>
        <a href="hostel.php"><span class="nb-icon nb nb-office nb-materialize"></span> <span class="title">Hostel</span></a>
      </li>
      <li>
        <a href="list-holidays.php"><span class="nb-icon nb nb-bed"></span> <span class="title">Holidays</span></a>            
      </li>
      <li class="sidenav-dropdown">
        <a href="#"><span class="nb-icon nb nb-clipboard-check"></span> <span class="title">Attendance</span> <span class="nb-right-icon nb nb-chevron-right pull-right"></span></a>
        <ul class="dropdown">
          <li><a href="attendance.php">Attendance View</a></li>
          <li><a href="add-attendance.php">Add Attendance </a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<router-outlet></router-outlet>