<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-6">
      <h1 class="page-title">Manage Events</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <ul class="breadcrumb pull-right mobile-pull-none">
        <li><a [routerLink]="['/dashboard']"><span class="fas fa-home"></span> Home</a></li>
        <li><span class="active">Manage Events</span></li>
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="widget widget-latest-emails">
        <div class="widget-header">
          <h4>Event Management</h4>
        </div>
        <div class="widget-content">
          <div *ngIf="calendarOptions">
            <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
          </div>
          <!-- <div id="event-calendar"></div> -->
        </div>
      </div>
        
      <div class="modal fade" id="addNewEvent" tabindex="-1" role="dialog" aria-labelledby="addNewEventLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addNewEventLabel">Add new Event</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="input-field">
                    <input type="text" name="event-name" id="new-event-name" class="form-control" />
                    <label for="new-event-name">Event Title</label>
                  </div>
                </div>
                
                <div class="col-xs-12 col-sm-6">
                  <div class="input-field">
                  <input type="date" name="event-date" id="new-event-date" class="form-control datepicker" />
                  <label for="new-event-date">Event Date</label>
                  </div>
                </div>
                
                <div class="col-xs-12 form-group">
                  <label for="new-event-description">Event Description</label>
                  <textarea rows="4" name="new-event-description" id="new-event-description" class="form-control" placeholder="Event Description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger">Reset</button>
            <button type="button" class="add-new-event btn btn-primary">Create event</button>
          </div>
        </div>
      </div>
        
      <div class="modal fade" id="modal-editEvent" tabindex="-1" role="dialog" aria-labelledby="editEventLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="editEventLabel">Edit Event</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="input-field">
                    <input type="text" name="edit-event-name" id="edit-event-name" />
                    <label for="edit-event-name" class="active">Event Title</label>
                  </div>
                </div>
                
                <div class="col-xs-12 col-sm-6">
                  <div class="input-field">
                    <input type="date" name="edit-event-date" id="edit-event-date" class="form-control datepicker" />
                    <label for="edit-event-date">Event Date</label>
                  </div>
                </div>
                
                <div class="col-xs-12 form-group">
                  <label for="edit-event-description">Event Description</label>
                  <textarea rows="4" name="edit-event-description" id="edit-event-description" class="form-control" placeholder="Event Description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="edit-event-id" id="edit-event-id" value="" />
            <button type="button" class="delete-event btn btn-danger">Delete Event</button>
            <button type="button" class="edit-event btn btn-primary">Save event</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="clearfix"></div>
</div>

<router-outlet></router-outlet>